html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

#container {
  background-color: #1f2938;
  color: #bfbfc4;
}

#scheme-selector {
  padding: 1.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#colors,
#hex-values {
  display: flex;
  flex-direction: row;
}

#colors > div {
  display: flex;
  width: 20%;
  height: 350px;
}

#hex-values > div {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
}

#color-picker {
  color: red;
  background: lightgray;
  padding: 0 0.1em;
  width: 15%;
  height: 40px;
  cursor: pointer;
}

#scheme {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  color: #bfbfc4;
  border-radius: 5%;
  width: 53%;
  font-size: 1.2rem;
  padding: 0.55em;
}

#get-scheme {
  font-family: "Roboto", sans-serif;
  background-color: #3d4b60;
  color: white;
  border: none;
  padding: 0 1em;
  font-size: 1em;
  border-radius: 5%;
  width: 25%;
  cursor: pointer;
}
